data/hmm_out/*.h*
data/input_dataframe*
data/align/*
data/*.fasta
data/input_dataframe_withoutstructure.csv
data/input_dataframe_withoutstructure_2048.csv
data/input_dataframe_withoutstructure_2048
data/input_dataframe_withoutstructure_1024.csv
data/input_dataframe_withoutstructure_1024
#data/seq_smiles.csv
